---
layout: default
title: home
---

<div class="site-hero container" id="intro">

  <h1 class="site-hero__text">Josh Corbett is a Designer and  Front-End Web Developer.</h1>

  <div class="site-hero__buttons">
    <a href="#projects" class="btn btn--grey btn--special">My Work</a>
    <a href="mailto:{{ site.email }}" class="btn btn--transparent">Email Me</a>
  </div>
</div>

<div class="site-section w-100 site-about" id="about">
  <div class="container site-about__container">
    <div class="site-about__container__profile">
      <div class="site-about__container__profile__img">
        <img src="{{ site.url }}/assets/img/profile.jpeg" alt="A super awesome picture of me yay!">
      </div>
      <div class="site-about__container__profile__content">
        <h3>About Me</h3>
        <p>
          Josh Corbett is a Graphics and Web Designer / Developer in Montana's Flathead Valley. He likes to work with local and remote businesses to help them stand out from the craziness that is the world wide web.
        </p>
      </div>
    </div>
    <div class="site-about__container__social">
      <a target="_blank" href="https://instagram.com/joshwcorbett">
        <span>Instagram</span>
        <span>{{ site.instagram_followers }}</span>
      </a>
      <a target="_blank" href="https://dribbble.com/joshwcorbett">
        <span>Dribbble</span>
        <span>{{ site.dribbble_followers }}</span>
      </a>
      <a target="_blank" href="https://linkedin.com/in/joshwcorbett">
        <span>LinkedIn</span>
        <span>{{ site.linkedin_followers }}</span>
      </a>
    </div>
  </div>
</div>

<div class="site-section container top-spacing" id="projects">
  <h3 class="w-100 site-section__title">Featured Projects</h3>

  <div class="cards projects w-100">
    {% for project in site.projects %}
      <a href="{{project.url}}" class="cards__item">
        {% if project.type != null %}
          {% if project.type == 0 %}
            <div class="project-type concept">
              Design Concept
            </div>
          {% elsif project.type == 1 %}
            <div class="project-type client">
              Client Project
            </div>
          {% endif %}
        {% endif %}
        <div class="cards__item__img">
          <img src="{{ project.image }}" alt="{{ project.title }} image preview">
        </div>
        <div class="cards__item__info">
          <span class="cards__item__info__title">
            {{ project.title }}
          </span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% if site.articles.size != 0 %}
  <div class="site-section top-spacing" id="articles">
    <div class="container">
      <h3 class="w-100 site-section__title">Blog</h3>
    </div>
    <div class="blog-posts cards">
      <div class="overflow-left"><span>scroll</span></div>
      <div class="overflow-right"><span>scroll</span></div>

      {% for article in site.articles %}
        <a href="{{ article.url }}" class="cards__item">
          <div class="cards__item__img">
            <img src="{{ article.image }}" alt="{{ article.title }} image preview">
          </div>
          <div class="cards__item__info">
            <span class="cards__item__info__title">{{ article.title }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
