---
layout: default
title: home
---

<div class="hero" id="intro">

  <h1 class="super caps hero__text">I Make Digital Experiences</h1>

  <!-- Cool Center Graphic -->
  <img id="coolGraphicSlashes" src="assets/img/coolgraphic-slashes.svg">
  <img id="coolGraphicCircle" src="assets/img/coolgraphic-circle.svg">

  <!-- All the fun shapes -->
  <img id="semicircle" src="assets/img/semicircle.svg">
  <img id="semicircle-2" src="assets/img/semicircle-2.svg">
  <img id="circle" src="assets/img/circle.svg">
  <img id="triangle" src="assets/img/triangle.svg">
  <img id="square-1" src="assets/img/square-1.svg">
  <img id="square-2" src="assets/img/square-2.svg">

  <a href="#projects" class="btn btn--white hero__btn uppercase super">
    No Way! Show Me
    <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.5" clip-rule="evenodd"
      viewBox="0 0 32 27">
      <defs />
      <path fill="none" stroke="#000" stroke-width="5.98" d="M1117.84 854.94l10.62 10.62 10.62-10.62-10.62 10.62v-26.309"
        transform="matrix(0 -.83616 .83616 0 -697.239 956.96)" />
    </svg>
  </a>
</div>

<div class="site-section container" id="projects">
  <h2 class="w-100 center-text header uppercase super">Projects</h2>

  <div class="projects w-100">
    {% for project in site.projects %}
      <a href="{{project.url}}" class="projects__item">
        <div class="projects__item__img">
          <img src="{{ site.url }}/assets/img/{{project.image}}" alt="{{ project.title }} image">
        </div>
        <div class="projects__item__info">
          <span class="projects__item__info__title">{{ project.title }}</span>
          <div class="projects__item__info__tags">
            {% if project.tags.size > 0 %}
              Tag{% if project.tags.size > 1 %}s{% endif %}:
              {{ project.tags | sort | join: ", " }}
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<div class="site-section container" id="articles">
  <h2 class="w-100 center-text header uppercase super">Articles</h2>

  <div class="row articles">
    <div class="column articles__text">
      <p>I love sharing ideas and content in bite-sized blog posts!</p>
    </div>
    <div class="column articles__list">
      <div class="articles__list__container">
        {% for article in site.articles %}
          <a href="{{ article.url }}" class="articles__list__container__item w-100">
            <span class="articles__list__container__item__title">{{ article.title }}</span>
            <div class="articles__list__container__item__tags">
              {% if article.tags.size > 0 %}
                Tag{% if article.tags.size > 1 %}s{% endif %}:
                {{ article.tags | sort | join: ", " }}
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<div class="site-section social w-100" id="social">
  <h2 class="w-100 center-text header uppercase super">Follow Me</h2>

  <div class="social-container">
    <div class="social-container__list container">
      <a target="_blank" href="https://instagram.com/joshwcorbett" class="social-container__list__item uppercase super instagram">Instagram</a>
      <a target="_blank" href="https://dribbble.com/joshwcorbett" class="social-container__list__item uppercase super dribbble">Dribbble</a>
      <a target="_blank" href="https://linkedin.com/in/joshwcorbett" class="social-container__list__item uppercase super linkedin">LinkedIn</a>
    </div>
  </div>
</div>

<div class="contact w-100" id="contact">
  <div class="container">
    <h2 class="w-100 header uppercase super">Let's Get In Touch!</h2>
    <p>If you like what you see and want to talk about a project, or just strike a conversation… shoot me an email bro!</p>
    <a href="mailto:joshwcorbett@icloud.com">joshwcorbett@icloud.com</a>
  </div>
</div>
