
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103579561-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-103579561-1');
</script>

<meta charset="UTF-8">
<link href="http://gmpg.org/xfn/11" rel="profile">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>
  {% if page.title == "Home" %}
    {{ site.title }} | Graphics and Web Designer and Developer in Montana
  {% else %}
    {{ page.title }} | {{ site.title }}
  {% endif %}
</title>

<!-- CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/stylesheet.css">

<!-- Javascript -->
<script src="{{ site.url }}/assets/js/scripts.js"></script>