---
---

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * IMPORTS
 * slickcss.............default css styles for Slick Slider
 *
 * BASE
 * Resets...............Basic CSS resets for friendlier compatibility
 * Typography...........Site-wide headings, paragraphs, fonts, etc.
 *
 * COMPONENTS
 *
 * PAGES
 *
 * HELPERS
 *
 * RESPONSIVE STYLING
 *
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

// Color Settings
$primary-color: #57bdff;
$accent: #00ffc4;
$legendary-gradient: linear-gradient(90deg, $primary-color 0%, $accent 100%);
$hire-me-gradient: linear-gradient(90deg, $primary-color 0%, #E344FF 100%);

$light-grey: #4e5055;
$med-grey: #313439;
$dark-grey: #282a2f;
$bg-color: #1c1f24;

// Social Media
$instagram: linear-gradient(23.77deg, #feda75 7.92%, #fa7e1e 32.99%, #d62976 55.6%, #962fbf 80.67%, #4f5bd5 102.3%);
$youtube: #ea5555;
$dribbble: #fd378a;
$linkedin: #0077b5;

// Typography Setings
$base-font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica Neue", Helvetica, sans-serif;
$header-font-family: $base-font-family;

$base-font-size: 16px;
$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;

$base-font-weight: 400;
$header-font-weight: 700;

// Transitions
$transition-quick: all 100ms ease;
$transition-smooth: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import '../fonts/Graphik/stylesheet.css';

/*------------------------------------*\
  #BASE
\*------------------------------------*/
// Resets
* {
  box-sizing: border-box;
}
// Layout
body {
  position: relative;
  min-height: 100vh;
}
.site-main {
  overflow: auto;
  position: relative;
}
.site-section {
  margin-top: 10em!important;
}
.container {
  margin: 0 7vw;
}
.row {
  display: flex;
  flex-direction: row;

  .column {
    margin: 0px 16px;
    width: 100%;
  }
}
.nav-spacing {
  padding:30px;
}

// Typography
html,body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: white;
  scroll-behavior: smooth;

  // Other styles
  margin: 0;
  background-color: $bg-color;
  z-index: 0;
}
h1 {font-size: $h1-font-size}
h2 {font-size: $h2-font-size}
h3 {font-size: $h3-font-size}
h4 {font-size: $h4-font-size}
h5 {font-size: $h5-font-size}
h6 {font-size: $h6-font-size}
a {
  font: inherit;
  color: $primary-color;
  transition: $transition-quick;
}

.special__title {
  color: $bg-color;
  font-size: 7.5rem;
  font-weight: 700;
  margin: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

// Buttons
.btn {
  font: inherit;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 0px 35px rgba($primary-color, 0.35);

    svg path {stroke: white}
  }

  &--white {
    background-color: white;
    color: black;
  }
  img,svg {
    width: 18px;
    height: auto;
    margin-left: 8px;
  }
  svg path {transition: $transition-quick}
}

// Navigation
.site-head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2em 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 999;
}
.mobile-nav__list {
  display: none;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  a {
    text-decoration: none;
    padding: 0.3em 0.5em;
  }

  &__brand {
    color: white;
  }
  &__list {
    display: flex;
    list-style: none;
    margin: 0;

    &:hover  &__item {
      opacity: 0.5;
    }
    &__item {
      color: white;
      line-height: 0;
      &:hover {
        opacity: 1!important;
      }
    }
  }
  #navMenuBtn {
    display: none;
  }
}

/*------------------------------------*\
  #PAGES
\*------------------------------------*/
// Global Page Styles


// Home Page Sections

// Intro
.hero {
  position: relative;
  max-width: 100%;
  height:     100vh;
  max-height: 1080px;
  min-height: 500px;

  &__text {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 3rem;
    transform: translateY(-50%);
    z-index: 99;
  }
  &__btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
  }
  #semicircle,#semicircle-2,#circle,#triangle,#square-1,#square-2,#square-3,
  #coolGraphicCircle,#coolGraphicSlashes { position: absolute}
  #semicircle {
    width: 165px;
    left: 0;
    top: 28%;
    transform: rotate(-25deg);
  }
  #semicircle-2 {
    width: 90px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  #circle {
    width: 90px;
    right: 10%;
    top: 30%;
  }
  #triangle {
    width: 110px;
    right: 0;
    bottom: 20%;
  }
  #square-1 {
    width: 69px;
    left: 13%;
    bottom: 32%;
  }
  #square-2 {
    width: 43px;
    left: 0;
    bottom: 30%;
  }
  #coolGraphicCircle,#coolGraphicSlashes {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  #coolGraphicCircle {
    width: 415px;
    z-index: 0
  }
  #coolGraphicSlashes {
    width: 400px;
    z-index: 1;
    filter: brightness(2)
  }

}

// Projects
.projects {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-evenly;
  align-items: flex-start;

  &__item {
    justify-content: start;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    width: 23%;
    overflow: hidden;
    transition: $transition-quick;

    &::before {
      // make square plz
      content: "";
      padding-top: 100%;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        min-width: 100%;
        height: 100%;
      }
    }
    &__info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 2em;
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      background-color: rgba(white,0.2);
      color: black;
      transition: $transition-quick;

      &__title {
        font-size: $h4-font-size;
        font-weight: 500;
      }

      &__tags {
        margin-top: 0.5em;
        opacity: 0.35;
      }
    }

    &:hover &__info {
      background-color: white;
    }
    &:active &__info {
      background-color: white;
    }
    &:hover {
      transform: scale(1.01);
      box-shadow: 0px 20px 50px rgba(white, 0.1);
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

// Articles
.articles {

  &__list {
    &__container {
      &__item {
        display: block;
        position: relative;
        background-color: lighten($bg-color, 10%);
        padding: 2em;
        color: white;
        text-decoration: none;

        &__title {
          font-size: $h4-font-size;
          font-weight: 500;
        }
        &__tags {
          margin-top: 0.5em;
          opacity: 0.35;
        }

        &:hover {
          background-color: white;
          color: black;
          box-shadow: 0px 0px 50px rgba(white, 0.35);
        }
        &:active {
          transform: scale(0.97);
        }
      }
    }
  }

  &__text {
    font: inherit;
    font-size: $h4-font-size;
  }
}

// Social Media
.social-container {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: lighten($bg-color, 5%);
  }

  &__list {
    display: flex;
    justify-content: center;

    &__item {
      text-align: center;
      color: white;
      text-decoration: none;
      width: 33%;
      padding: 4em 0;
      background-color: lighten($bg-color, 10%);
      z-index: 1;
      font-size: $h5-font-size;

      &.instagram::before {background-image: $instagram;}
      &.dribbble::before  {background-color: $dribbble;}
      &.linkedin::before  {background-color: $linkedin;}

      &:hover {
        &.instagram {
          background-image: $instagram;
        }
        &.dribbble {
          background-color: $dribbble;
        }
        &.linkedin {
          background-color: $linkedin;
        }
      }
      &:active {
        transform: scale(0.95);
        &::before {
          transform: scale(0.9);
        }
      }
      &.instagram,&.dribbble,&.linkedin {
        position: relative;
        &::before {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(35px);
          z-index: -1;
          opacity: 0;
          transition: $transition-quick;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

// Contact
.contact {
  display: block;
  position: relative;
  background-color: lighten($bg-color, 5%);
  padding: 10em 0;

  h2 {
    margin-top: 0;
  }
  p,a {
    font-size: 1.2rem;
  }
}

// Footer
.site-foot {
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
  background-image: $legendary-gradient;
  padding: 2em;
  text-align: center;
}

// 404
.center-container {
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .centered {
    text-align: center;
  }

  h1 {
    font-size: 100px;
    text-shadow: 0px 0px 50px rgba(white,0.5);
    margin: 0;
  }
  p {
    max-width: 800px;
    margin: 3em 0;
  }
}

// Posts
.post {
  margin-top: 300px;
  padding-bottom: 130px;

  &__content {
    width: 70vw;
    margin: 0 auto 0 auto;
    padding: 3em 5em;
    background-color: lighten($bg-color,5%);
    z-index: 998;

    &__header {
      padding-bottom: 3em;
    }
  }
  &__bg {
    position: absolute;
    height: 350px;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

/*------------------------------------*\
  #HELPERS
\*------------------------------------*/
.bold  {font-weight: 700}
.heavy {font-weight: 800}
.super {font-weight: 900}
.caps  {text-transform: uppercase}
.uppercase {text-transform: uppercase}
.gradient-text {
  background: $hire-me-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.w-100 {width: 100%}
.center-text {text-align: center}

/*------------------------------------*\
  #RESPONSIVE STYLING
\*------------------------------------*/

@media screen and (max-width: 1225px) {

  .projects__item {
    width: 31%;
  }
  .articles {

    &.row {
      flex-direction: column;
    }

    .column {
      width: 100%;
    }
  }
}

@media screen and (max-width: 922px) {
  .projects__item {width: 45%}
}

@media screen and (max-width: 610px) {
  .projects__item {width: 100%;}
  .post__content {
    width: 90vw;
  }
  // Mobile Navigation
  .site-nav {

    #navMenuBtn {
      display: block;
    }
    &__list {
      display: none;
    }
  }
  .mobile-nav__list {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    list-style-type: none;
    padding: 2em;
    margin: 0;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: $transition-smooth;

    &__item {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 1em 0 0;
      margin-top: 0.5em;
      font-size: 2rem;
      color: white;
    }
    .btn {
      display: block;
      text-align: center;
    }
    &.active {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
}
@media screen and (max-width: 501px) {
  .hero {

    &__text {
      font-size: 2rem;
    }
  }
  .social-container {
    &__list {
      flex-direction: column;
      &__item {
        width: 100%;
        padding: 1em;
      }
    }
  }
}