<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103579561-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-103579561-1');
  </script>

  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-iphone-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-ipad-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-iphone-retina-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/favicons/apple-touch-icon-ipad-retina-152x152.png">

  <!-- Open Graph Tags -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{% if page.title == 'home' %}Josh Corbett | Graphics and Web Designer and Developer in Montana{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/img/preview.png">
  <meta property="article:author" content="https://facebook.com/joshwcorbett" />
  <meta property="og:description"
    content="Josh Corbett is a Graphics and Web Designer / Developer in Montana's Flathead Valley. He likes to work with local and remote businesses to help them stand out from the craziness that is the world wide web.">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title"
    content="{% if page.title == 'home' %}Josh Corbett | Graphics and Web Designer and Developer in Montana{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
  <meta name="twitter:card" content="summary">

  <!-- Page Title Conditional -->
  <title>
    {% if page.title == "home" %}
      Josh Corbett | Graphics and Web Designer and Developer in Montana
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ site.description }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/stylesheet.css?{{ site.time | date: '%s%N' }}">

  <!-- Pre-fetch Links -->
  <link rel="dns-prefetch" href="{{ page.project_link }}">
</head>

<body>
  <noscript>
    <div class="container">I understand that you're trying to be safe on the internet, but this site needs scripts. Can you enable those please?</div>
  </noscript>

  <!-- Show header -->
  {% include_cached header.html %}

  <!-- Show site content -->
  <main class="site-main">
    {{content}}
  </main>

  <!-- Show footer except on 404 page -->
  {% if page.title != 404 %}
    {% include_cached footer.html %}
  {% endif %}


  <!-- Javascript -->
  <script src="{{ site.url }}/assets/js/scripts.js?{{ site.time | date: '%s%N' }}"></script>

</body>

</html>